$zup-green: #8dc63f;
$zup-blue: #193952;
$zup-navy: #0A2C46;
$zup-red: #ef4123;
$zup-gray: #f1f2f2;
$zup-text-gray: #e6e7e8;
$zup-dark-gray: #2E2D2C;

$ad-gray: #CFD6DD;
$border-gray: #c3c3c3;
$white: #ffffff;