@import './colors';
@import './fonts';

.inputs-row {
    width: 100%;
    max-width: 900px;
    margin: 0 0 24px 0;
    display: flex;
    gap: 48px;
}

.input-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 8px;
}

.input-label {
    color: $zup-navy;
    font-size: 14px;
    font-weight: $lato-weight-regular;
    padding: 0 0 0 4px;
}

.workshop-input-field {
    width: 100%;
    height: 36px;
    padding: 0 8px;
    margin: 4px 0 8px 0;
    border-radius: 32px;
    color: $zup-dark-gray;
    background-color: $white;
    border: 1px solid $border-gray;
    font-size: 14px;
    font-weight: $lato-weight-regular;
    transition: border-color 0.2s ease;
    outline: none;

    &:hover:not(:focus) {
        border-color: $zup-navy;
    }

    &:focus {
        border-color: $zup-green;
    }
}

select {
   @extend .workshop-input-field;
}
