@import 'src/assets/scss/fonts';
@import 'src/assets/scss/forms';

* {
    margin: 0;
    padding: 0;
    font-family: $lato;
    box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-h1, .mat-typography h1,
.mat-h2, .mat-typography h2,
.mat-h3, .mat-typography h3,
.mat-h4, .mat-typography h4,
.mat-h5, .mat-typography h5,
.mat-typography p {
    margin: 0;
}
